<script>
  var addToCart = document.getElementById('populate_order');
  var addToCartButton = document.getElementById('add-to-cart-button');
  var colourVariantList = document.getElementById('colour-variant-list');

  addToCart.addEventListener('submit', function(e) {
    if ($(this).data('ajaxSubmitted') == true) {
      // Previously submitted, don't submit again
      e.preventDefault();
      return false;
    }
    else {
      // Mark it so that the next submit gets ignored
      e.preventDefault();
      $(this).data('ajaxSubmitted', true);
      $(this).find(':submit, :image').removeClass('primary').addClass('disabled');
      if (typeof ga !== 'undefined') {
        product_data = <%= product_for_google(@product) %>;
        product_data["quantity"] = $('input#quantity').val();
        ga('ec:addProduct',
          product_data
        );
        ga('ec:setAction', 'add');
        ga('send', 'event', 'UX', 'click', 'add to cart');
      }
      return true;
      addToCart.submit();
    }
  });

  // colourVariantList will only be present when there are multiple colour options
  if (typeof(colourVariantList) != 'undefined' && colourVariantList != null) {
    addToCartButton.addEventListener('click', function(e) {
      if (! ($('input[type=radio]:checked').size() > 0)) {
        $('#colour-variant-list').after('<div id="error-msg" class="alert alert-danger">Select a colour</p>');
        $('#colour-variant-list').on('click', function(e) {
          $('#error-msg').remove();
        });
      }
    });
  }

</script>
